body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0
}

html, body, #map-canvas {
	width: 100%;
	height: 100%;
	}

a {
	text-decoration: none;
	color: #823fc4;
}

a:hover {
	color: #510B94;
}

#problemReport {
	padding: 0 20px 20px;
	width: 800px;
}

.garbage {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
}

.comment-box-container {
	display: none;
}

.comment-checkbox-container {
	position: relative;
}

.comment-checkbox-container label {
	font-size: 15px;
	line-height: 26px;
	padding-left: 22px;
}

.comment-checkbox-container input {
    line-height: normal;
    position: absolute;
    top: 3px;
    left: 0px;
}

.comment-box {
	border: 1px solid #d9d9d9;
	padding: 3px 8px;
	resize: none;
	width: 620px;
	font-family: arial,helvetica,sans-serif;
	margin: 5px 0 20px 27px;
}

#newMarkerLocation {
	margin-top: 10px;
}

#problemReport-marker-map {
	width: 100%;
	height: 350px;
	border: 1px solid #4d90fe;
	margin-top: 10px;
	margin-bottom: 17px;
}

.property-container {
	border-top: 1px solid #999;
	padding: 10px;
	cursor: pointer;
}

.property-container:hover {
	background-color: #eee;
}

.property-header {
	font-size: 11px;
	font-weight: 600;
	color: #999;
	padding-bottom: 5px;
}

.property-expand .property-header {
	color: #000;
}

.property-expand {
	border-top: 1px solid #999;
	padding: 10px 10px 14px;
}

.property-expand label {
	font-weight: 600;
	font-size: 14px;
	color: #444;
}

.property-expand select {
	font-size: 14px;
	padding: 6px;
}


.full-width-input {
	padding: 5px 8px;
	font-size: 14px;
	width: 95%;
	margin: 2px 0 10px;
}

.small-input {
	padding: 5px 8px;
	font-size: 14px;
	width: 80px;
	margin: 2px 0 10px;
}

.submit-container {
	margin: 20px 0;
}

.btn {
	-webkit-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-o-transition: all 0.218s;
	transition: all 0.218s;
}

.btn-submit {
	margin-right: 5px;
	margin-left: 15px;
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	font-family: Arial;
	color: #ffffff;
	font-size: 14px;
	background: #8f4cdb;
	padding: 6px 15px 6px 15px;
	border: solid #723ab3 1px;
	text-decoration: none;
}

.btn-submit:hover {
	background: #a165e6;
	text-decoration: none;
}

.btn-cancel {
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	font-family: Arial;
	color: #444;
	font-size: 14px;
	background: #dbdbdb;
	padding: 6px 15px 6px 15px;
	border: solid #a6a6a6 1px;
	text-decoration: none;
}

.btn-cancel:hover {
	background: #ebebeb;
	background-image: -webkit-linear-gradient(top, #ebebeb, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ebebeb, #e6e6e6);
	background-image: -ms-linear-gradient(top, #ebebeb, #e6e6e6);
	background-image: -o-linear-gradient(top, #ebebeb, #e6e6e6);
	background-image: linear-gradient(to bottom, #ebebeb, #e6e6e6);
	text-decoration: none;
}

.submit-status {
	display: none;
	padding: 15px;
	border: 1px solid transparent;
	margin-bottom: 10px;
}

.submit-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.submit-fail {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.submit-issue {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;	
}

.hidden {
	display: none;
}